<%= link_to 'New Content', new_content_path%>
<h1>Joao Paullo 26/04/2001</h1> 
<h2>CONTENTS</h2>
<BR>

<% @contents.each do |content|%>
<%= link_to 'Show', content_path(content)%>
<%= link_to 'Edit', edit_content_path(content)%>
<%= link_to 'Destroy', content_path(content) , method: :delete, data: { confirm: 'Are you sure?' }  %>
<strong>Title:</strong> <%= content.title %>
<strong>Descript:</strong> <%= content.description %>
<strong>Tag: </strong><%= content.tags.pluck(:name) .join(', ')%>
<br>
<% end %>