<!DOCTYPE html>
<html>
  <head>
    <title>MindApp</title>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "rails-ujs" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in?%>
    <%= link_to 'Home', home_index_path %>
    <%= link_to 'Contents', contents_path %>
    <%= link_to 'Lougout', destroy_user_session_path, method: :DELETE %>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
